<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.PerformanceTimeMapper">

    <insert id="insertPerformanceTimes" parameterType="map">
        INSERT INTO performanceTime(performanceId, hallId, startTime, endTime)
        VALUES
        <foreach collection="performanceTimeRequests" item="performanceTimeRequest" separator=",">
            (
            #{performanceId},
            (SELECT hallId FROM performance WHERE id = #{performanceId}),
            #{performanceTimeRequest.startTime},
            #{performanceTimeRequest.endTime}
            )
        </foreach>
    </insert>

    <select id="getPerfTimes" parameterType="map"
            resultType="com.show.showticketingservice.model.performance.PerformanceTimeRequest">
        SELECT date_format(startTime, '%Y%m%d%H%i%S'), date_format(endTime, '%Y%m%d%H%i%S')
        FROM performanceTime
        WHERE hallId = (SELECT hallId FROM performance WHERE id = #{performanceId}) AND
        <foreach collection="performanceTimeRequests" item="performanceTimeRequest" open="(" close=")" separator="OR">
            (
            DATE(startTime)
            BETWEEN
            DATE(#{performanceTimeRequest.startTime}) - 1
            AND
            DATE(#{performanceTimeRequest.startTime}) + 1
            )
        </foreach>
    </select>

    <delete id="deletePerformanceTimes" parameterType="map">
        DELETE FROM performanceTime
        WHERE performanceId = #{performanceId}
        AND id IN
        <foreach collection="timeIds" item="timeId" open="(" close=")" separator=",">
            #{timeId}
        </foreach>
    </delete>

</mapper>