<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.ReservationMapper">

    <insert id="reserveSeats" parameterType="java.util.List">
        INSERT INTO reservation(userId, seatId, reserveDate)
        VALUES
        <foreach collection="seatIds" item="seatId" separator=",">
            ( #{userId}, #{seatId}, DATE(NOW()) )
        </foreach>
    </insert>

    <delete id="cancelSeats" parameterType="map">
        DELETE FROM reservation
        WHERE id IN
        <foreach collection="reservationIds" item="reservationId" open="(" close=")" separator=",">
            #{reservationId}
        </foreach>
    </delete>

    <select id="getSeatNumToCancel" parameterType="map" resultType="int">
        SELECT COUNT(r.id) FROM reservation r
        INNER JOIN seat st ON st.id = r.seatId
        INNER JOIN performanceTime pt ON st.perfTimeId = pt.id
        WHERE r.id IN
        <foreach collection="reservationInfo.reservationIds" item="reservationId" open="(" close=")" separator=",">
            #{reservationId}
        </foreach>
        AND pt.id = #{reservationInfo.perfTimeId}
        AND pt.performanceId = #{reservationInfo.performanceId}
        AND r.userId = #{userId}
    </select>

</mapper>
