<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.SeatMapper">

    <insert id="insertSeatInfo" parameterType="java.util.List">
        INSERT INTO seat(perfTimeId, priceId, hallId, colNum, rowNum, reserved)
        VALUES
        <foreach collection="seatRequests" item="seatRequest" separator=",">
            (
            #{seatRequest.perfTimeId},
            #{seatRequest.priceId},
            #{seatRequest.hallId},
            #{seatRequest.colNum},
            #{seatRequest.rowNum},
            #{seatRequest.reserved}
            )
        </foreach>
    </insert>

    <select id="getPerfSeatsAndPrices" resultType="com.show.showticketingservice.model.seat.SeatAndPriceResponse">
        SELECT
            sp.ratingType, sp.price, s.id, s.rowNum, s.colNum, s.reserved
        FROM seat s
        INNER JOIN seatPrice sp ON s.priceId = sp.id
        WHERE s.perfTimeId = #{perfTimeId}
    </select>

    <update id="setSeatsReserved" parameterType="java.util.List">
        UPDATE seat
        SET reserved = TRUE
        WHERE id IN
        <foreach collection="seatIds" item="seatId" open="(" close=")" separator=", ">
            #{seatId}
        </foreach>
    </update>

    <select id="getReservableSeatsNum" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM seat
        WHERE id IN
        <foreach collection="seatIds" item="seatId" open="(" close=")" separator=", ">
            #{seatId}
        </foreach>
        AND perfTimeId = #{perfTimeId}
        AND reserved = FALSE
    </select>

    <update id="setReservedSeatsCancel" parameterType="java.util.List">
        UPDATE seat
        SET reserved = FALSE
        WHERE id IN
        (
            SELECT seatId
            FROM reservation
            WHERE id IN
            <foreach collection="reservationIds" item="reservationId" open="(" close=")" separator=", ">
                #{reservationId}
            </foreach>
        )
    </update>

</mapper>
