<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.VenueMapper">

    <insert id="insertVenue"
            parameterType="com.show.showticketingservice.model.venue.VenueRequest"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO venue(name, address, tel, homepage)
        VALUES(#{name}, #{address}, #{tel}, #{homepage})
    </insert>

    <select id="isVenueExists" parameterType="String" resultType="boolean">
        SELECT EXISTS
        (SELECT * FROM venue WHERE name = #{venueName})
    </select>

    <update id="updateVenueInfo" parameterType="map">
        UPDATE venue
        SET name = #{updateRequest.name}, address = #{updateRequest.address}, tel = #{updateRequest.tel}, homepage = #{updateRequest.homepage}
        WHERE id = #{venueId}
    </update>

    <delete id="deleteVenue">
        DELETE FROM venue
        WHERE id = #{venueId}
    </delete>

    <select id="isVenueIdExists" resultType="boolean">
        SELECT EXISTS
        (SELECT * FROM venue WHERE id = #{venueId})
    </select>

    <select id="getVenueList" parameterType="com.show.showticketingservice.model.criteria.VenuePagingCriteria"
            resultType="com.show.showticketingservice.model.venue.VenueResponse">
        SELECT id, name, address, tel, homepage
        FROM venue
        LIMIT #{startPage}, #{amount}
    </select>

    <select id="getVenueInfo" resultType="com.show.showticketingservice.model.venue.VenueResponse">
        SELECT id, name, address, tel, homepage
        FROM venue
        WHERE id = #{venueId}
    </select>

    <select id="getVenueTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM venue
    </select>

</mapper>
