<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.VenueHallMapper">

    <insert id="insertVenueHalls" parameterType="map">
        INSERT INTO venueHall(venueId, name, rowSeats, columnSeats, seatingCapacity)
           VALUES
              <foreach collection="venueHallRequests" item="venueHallRequest" separator=",">
                  (
                  #{venueId},
                  #{venueHallRequest.name},
                  #{venueHallRequest.rowSeats},
                  #{venueHallRequest.columnSeats},
                  #{venueHallRequest.seatingCapacity}
                  )
              </foreach>
    </insert>

    <select id="isVenueHallsExists" parameterType="map" resultType="boolean">
        SELECT EXISTS (SELECT * FROM venueHall WHERE name IN
        <foreach collection="venueHallsUpdate" item="venueHallUpdate" open="(" close=")" separator=",">
            #{venueHallUpdate.name}
        </foreach>
        AND venueId = #{venueId}
        )
    </select>

    <update id="updateVenueHalls" parameterType="map" >
        <foreach collection="venueHallsUpdate" item="venueHallUpdate" index="index" separator=";">
                UPDATE venueHall
                <set>
                    name=#{venueHallUpdate.name},
                    rowSeats=#{venueHallUpdate.rowSeats},
                    columnSeats=#{venueHallUpdate.columnSeats},
                    seatingCapacity=#{venueHallUpdate.seatingCapacity}
                </set>
                WHERE venueId = #{venueId} AND id = #{updateHallIds[${index}]}
        </foreach>
    </update>

    <delete id="deleteVenueHalls" parameterType="map">
        DELETE FROM venueHall WHERE id IN
            <foreach collection="deleteHallIds" item="deleteHallId" open="(" close=")" separator=",">
                #{deleteHallId}
            </foreach>
        AND venueId = #{venueId}
    </delete>

    <select id="getVenueHalls" parameterType="String" resultType="com.show.showticketingservice.model.venueHall.VenueHallResponse">
        SELECT id, venueId, name, columnSeats, rowSeats, seatingCapacity FROM venueHall WHERE venueId = #{venueId}
    </select>

</mapper>
