<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.VenueHallMapper">

    <insert id="insertVenueHall" parameterType="map">
        INSERT INTO venueHall(venueId, name, rowSeats, columSeats, seatingCapacity)
           VALUES
              <foreach collection="venueHalls" item="venueHall" separator=",">
                  (
                  #{venueId},
                  #{venueHall.name},
                  #{venueHall.rowSeats},
                  #{venueHall.columSeats},
                  #{venueHall.seatingCapacity}
                  )
              </foreach>
    </insert>
    
    <select id="isVenueHallsExists" parameterType="map" resultType="boolean">
        SELECT EXISTS (SELECT * FROM venueHall WHERE name IN
           <foreach collection="venueHalls" item="venueHall" open="(" close=")" separator=",">
               #{venueHall.name}
           </foreach>
           AND venueId = #{venueId}
        )
    </select>

    <select id="isVenueHallExists" parameterType="map" resultType="boolean">
        SELECT EXISTS (SELECT * FROM venueHall WHERE name = #{venueHall.name} AND venueId = #{venueId})
    </select>

    <update id="updateVenueHall" parameterType="map" >
        UPDATE venueHall
        SET
           name = #{venueHall.name},
           rowSeats = #{venueHall.rowSeats},
           columSeats = #{venueHall.columSeats},
           seatingCapacity = #{venueHall.seatingCapacity}
        WHERE id = #{hallId} AND venueId = #{venueId}
    </update>

    <delete id="deleteVenueHalls" parameterType="map">
        DELETE FROM venueHall WHERE id IN
            <foreach collection="hallIds" item="hallId" open="(" close=")" separator=",">
                #{hallId}
            </foreach>
        AND venueId = #{venueId}
    </delete>

    <select id="getVenueHalls" parameterType="String" resultType="com.show.showticketingservice.model.venueHall.VenueHallResponse">
        SELECT id, venueId, name, columSeats, rowSeats, seatingCapacity FROM venueHall WHERE venueId = #{venueId}
    </select>

</mapper>
