<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.show.showticketingservice.mapper.MemberMapper">
    <insert id="insertMember">
        INSERT
        INTO USER (ID, PASSWORD, NAME, PHONENUM, EMAIL, ADDRESS)
        VALUES (#{id}, #{password}, #{name}, #{phoneNum}, #{email}, '')
    </insert>

    <select id="selectMemberId" resultType="com.show.showticketingservice.model.MemberDTO">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

    <select id="selectMemberEmail" resultType="com.show.showticketingservice.model.MemberDTO">
        SELECT * FROM USER WHERE ID = #{email}
    </select>
</mapper>